
<div class="container-fluid col-md-12">
    <h3>Albums</h3>
    <hr style="color: darkgreen; height: 2px; border-bottom: 2px;  border-color: darkgreen;height: auto" />
    <a class="btn btn-success" href="/albums/create" style="margin-left:5px">Create Album</a>
    <hr style="color: darkgreen; height: 2px; border-color: darkgreen; margin-bottom: 10px; display: block;height: auto" />
</div>
<div class="container-fluid col-md-12" style="text-align-all: left;tab-interval: 2%">
    {{{albumsContent}}}
</div>