
<div class="col-md-8" style="margin-left: 30%;  border: thin solid white">
    <form class="form-horizontal" method="post" style="display: inline">
        <h3 style="color: green; margin-left: 25%; ">Create Album</h3>
        <hr style="color: green; height: 2px; margin-right: 34%; background: green; border-bottom-color: green;border-bottom:5px" />
        <div class="form-group">
            <label class="col-md-8 control-label" style="text-align: left;margin-top: 2px">Name</label>
            <div class="col-md-8" style="align-content: center">
                <input type="text" class="form-control" name="Name" placeholder="Name...">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-8 control-label" style="text-align: left">Cover</label>
            <div class="col-md-8">
                <input type="url" class="form-control" name="Url" placeholder="Cover...">
            </div>
        </div>
        <hr style="color: green; height: 2px; margin-right: 34%; background: green; border-color: green;" />
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success btn btn-primary" style="margin-left: 10%">Create</button>
            </div>
            <div class="col-md-6 next btn">
                <a href="/albums/all" class="btn btn-primary btn-success" style="margin-right: 75%">Back To All</a>
            </div>
        </div>
    </form>
</div>
