<div class="col-3"></div>
<div class="col-6">
    <h2 style="text-align:center">Create Track</h2>
    <hr />
    <form method="post">
        <div class="form-group">
            <label for="albumName">Name</label>
            <input type="text" class="form-control" id="albumName" name="Name" aria-describedby="emailHelp" placeholder="Enter name">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="link">Link</label>
                    <input type="url" class="form-control" id="link" name="Link" placeholder="Url">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" min="0" class="form-control" id="price" name="Price" placeholder="Price">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6 text-center">
                <button type="submit" class="btn btn-success center">Create</button>
            </div>
            <div class="col-md-offset-3 col-md-6 text-center">
                <button class="btn btn-success"><a href="/Albums/Details?id={{{album-id}}}" class="text-white">Back to Album</a></button>
            </div>
        </div>
    </form>
</div>
<div class="col-3"></div>