
<div class="container-flex" style="margin-top: 20px">

    <div style="display: inline; margin-right: 30%;margin-top: 5px">
        <div class="row justify-content-center" style="text-align: center">
            <p><strong>Track Name: {{{trackTitleDetails}}}</strong></p>
        </div>
        <div class="row justify-content-center" style="text-align: center">
            <p><strong>Track Price: ${{{trackPriceDetails}}}</strong></p>
        </div>
        <div class="row text-success">
            <hr style="margin-left:675px; margin-right: 645px; height: 2px; margin-bottom: 1px; margin-bottom: 4px; border-bottom: 2px;color: darkgreen; background: darkgreen; align-content: center; border-color: darkgreen;" />
        </div>
        <iframe class="embed-responsive-item" style="margin-left:35%; width: 560px; height: 315px" src="{{{trackUrl}}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen name="{{{trackUrlName}}}"></iframe>
        
        <div class="row" style="margin-top: 5px">
            <a class="btn btn-success btn-sm" style="margin-left: 48%" href="/albums/details?id={{{albumPathHolder}}}"> Back To Album</a>
        </div>
    </div>
</div>