

<div style="width: 30%; margin: auto;border: thin solid white">
    <div class="row justify-content-center">
        <h3 align="center" style="text-align: center"><span style="color: green"><strong>Login</strong></span></h3>
    </div>
    <form style="display:block" method="post">
        <hr style="color: green; height: 5px; margin: 5px; border-color: green;" />
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="Username" placeholder="Username/Email...">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="Password" placeholder="Password...">
        </div>
        <button type="submit" class="btn btn-primary  btn-success" style="width:100px;margin:0 50%;position:relative;left:-50px;">Login</button>
    </form>
</div>
