
<div class="jumbotron col-md-12 col-lg-12 bg-success" style="border: thin solid white; background: darkgreen; height: auto">
    <div style="display : {{{notLoggedUser}}}">
        <h3 style="color: white">Welcome to IRunes</h3>
        <hr />
        <a href="/users/login" style="color:coral">Login</a> <span style="color: white">If you have an account.</span>
        <br />
        <a href="/users/register" style="color: coral">Register</a> <span style="color: white">If you don't!.</span>
        <br />
    </div>
    <div style="display : {{{loggedUser}}}">
        <h3 style="color: white">Welcome {{{username}}}</h3>
        <h3>IRunes wishes you a fun experience.</h3>
    </div>
</div>